.shop-area {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.products-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 73%;
    margin: 0 auto;
    padding-top: 5rem;
}