.cart-area {
    background-color: #FFE0B3;
    padding: 1rem;
    position: fixed;
    right: 0;
    top: 25%;
}

.cart-area h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.cart-area h3 {
    margin-top: 2rem;
    margin-bottom: 3rem;
}